			<footer class="footer">
				<div class="row container-fluid m-0 p-4">
					<div class="py-1 col-lg-4 col-md-6 order-lg-1 order-2">
						<h4 class="text-center text-secondary font-weight-light">Contact me</h4>
						<hr class="my-2">
						<p class="pb-2 m-0 pl-3">
							<a class="footer-a" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=monika.intaite@gmail.com" target="_blank"><i class="fab fa-google-plus-square fa-lg"></i> monika.intaite@gmail.com</a>
						</p>
						<p class="pb-2 m-0 pl-3">
							<a class="footer-a" href="https://www.linkedin.com/in/monint/" target="_blank"><i class="fab fa-linkedin fa-lg"></i> linkedin.com/in/monint</a>
						</p>
						<p class="pb-2 m-0 pl-3">
							<a class="footer-a" href="https://github.com/monint578" target="_blank"><i class="fab fa-github-square fa-lg"></i> github.com/monint578</a>
						</p>
						<p class="pb-1 m-0 pl-3">
							<a class="footer-a" href="/img/monika_intaite_eng.pdf" target="_blank"><i class="fas fa-file-pdf fa-lg" target="_blank"></i> Download CV</a>
						</p>
					</div>
					<div class="col-lg-4 py-1 col-md-6 order-lg-2 order-1">
						<h4 class="text-center text-secondary font-weight-light">About Toraberu project</h4>
						<hr class="my-2">
						<p class="text-secondary pb-1 m-0 px-3 text-justify">This project was created by remaking the YelpCamp project from the Udemy course: The Web Developer Bootcamp. You can find the original YelpCamp project here: <a class="footer-a" href="https://monint-yelpcamp.herokuapp.com" target="_blank"><em>www.monint-yelpcamp.herokuapp.com</em></a>.<br>Toraberu – my personal project for sharing my most beloved places that I have visited. I wanted to challenge myself by designing a unique user interface.</p>
					</div>
					<div class="col-lg-4 py-1 order-lg-3 order-3">
							<h4 class="text-center text-secondary font-weight-light">Technologies used</h4>
							<hr class="my-2">
							<div class="row text-center">
								<div class="col-sm-4 order-sm-1 col-2 order-1 py-1">
									<p class="footer-a"><i class="fab fa-html5 fa-2x"></i></p>
								</div>
								<div class="col-sm-4 order-sm-2 col-4 order-7 py-1">
									<p class="footer-a"><i class="fab fa-node fa-3x" ></i></p>
								</div>
								<div class="col-sm-4 order-sm-3 col-2 order-2 py-1">
									<p class="footer-a"><i class="fab fa-bootstrap fa-2x"></i></p>
								</div>
								<div class="col-sm-4 order-sm-4 col-2 order-3 py-1">
									<p class="footer-a"><i class="fab fa-css3-alt fa-2x"></i></p>
								</div>
								<div class="col-sm-4 order-sm-5 col-4 order-8 py-1">
									<p class="footer-a"><img class="img-fluid footer-mongo" style="height: 25px;" src="/img/express-seeklogo.com.svg"></p>
								</div>
								<div class="col-sm-4 order-sm-6 col-2 order-4 py-1">
									<p class="footer-a"><i class="fab fa-docker fa-2x"></i></p>
								</div>
								<div class="col-sm-4 order-sm-7 col-2 order-5 py-1">
									<p class="footer-a"><i class="fab fa-js-square fa-2x"></i></p>
								</div>
								<div class="col-sm-4 order-sm-8 col-4 order-9 py-1">
									<p class="footer-a"><img class="img-fluid footer-mongo" style="height: 30px;" src="/img/mongodb-logo.png"></p>
								</div>
								<div class="col-sm-4 order-sm-9 col-2 order-6 py-1">
									<p class="footer-a"><i class="fab fa-git-square fa-2x"></i></p>
								</div>
							</div>
					</div>
				</div>
			</footer>
			
			<script src="https://kit.fontawesome.com/3d60d52d76.js" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			
			<!-- Create new place -->
			<script>
				$(document).ready(function(){
				  $("#addImage").click(function(){
					var newImage = $("#additionalImage").html();
					$("#images").append(newImage);
				  });
				});
			</script>
		</body>
</html>