<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link  rel="stylesheet" href="/stylesheets/hover.css">
		<link rel = "icon" href = "/img/1.png" type = "image/x-icon">
		<title>Toraberu</title>
	</head>
	<body class="pt-5">
		<nav class="navbar navbar-expand-md fixed-top navbar-light" style="background-color: #e9ecef;">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand text-info" href="/places"><i class="fas fa-map-marked-alt fa-lg"></i> Toraberu</a>
		  </div>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<% if(!currentUser){ %>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
				<% } else { %>
					<li class="nav-item"><a class="nav-link" href="/user/<%= currentUser._id %>">Signed In As <strong><%= currentUser.displayName %></strong></a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				<% } %>		
			</ul>
		 </div>
		</div>
		</nav>
	<div class="container">
		<% if(error && error.length > 0) {%>
			<div class="alert alert-danger" role="alert">
				<%= error %>	
			</div>
		<% } %>
		<% if(success && success.length > 0) {%>
			<div class="alert alert-success" role="alert">
				<%= success %>	
			</div>
		<% } %>
	</div>
	