<%- include ("../partials/header") %>

<div class="container-fluid pt-4 px-5">
  <h1 style="text-align: center;">Create a New Place</h1>
  <div style="width: 30%; margin: 25px auto;">
    <form action="/places" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="content[name]" placeholder="Campground name" required/>
      </div>
      <div class="valid-tooltip">
        Looks good!
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="content[location]" placeholder="Location" required/>
      </div>
      <div class="form-group" id="images">
        <div class="form-group">
          <input class="form-control" type="text" name="images[]" placeholder="Main image url" required/>
        </div>
      </div>
      <div class="form-group">
        <a href="#" id="addImage" class="btn btn-outline-info btn-sm">Add more images</a>
      </div>
      <div class="form-group">
        <textarea class="form-control" type="text" name="content[description]" placeholder="Place description" rows="6" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-outline-info btn-block">Submit</button>
      </div>
    </form>
    <a href="/places"><i class="fa fa-angle-double-left"></i> Go Back</a>
  </div>
</div>

<template id="additionalImage">
  <div class="form-group">
    <input class="form-control" type="text" name="images[]" placeholder="Additional image url" required/>
  </div>
</template>

<%- include ("../partials/footer") %>
