a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #17a2b8;
}
.cards-images {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:hover .cards-images {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1549247796-5d8f09e9034b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1299&q=80);
  background-size: 100%;
  color: #fff;
  opacity: 0.9;
  background-position-y: center;
}
.btn-info:hover {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}
/*SHOW PAGE*/
.show-head {
  background-color: #e9ecef;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
}
.tabs {
  background-color: #17a2b8;
  margin-right: 10px;
}
.tab-a{
  color: #fff;
}
.tab-a:hover {
  color: #fff;
}
.delete-form {
  display: inline;
}
.checked {
  color: #17a2b8;
}
/*FORMS*/
.maid-container {
  margin: 0 55vh;
}

/*PICTURE CAROUSEL*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.site-footer {
  background-color: #e9ecef;
  height: 200px;
}
/*LANDING PAGE*/
#landing-header {
  z-index: 3;
  position: relative;
  text-align: center;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 30px 10px;
  border-radius: 5px;
  margin: 35vh 40vh;
}
.slideshow {
  list-style-type: none;
}
.slideshow, .slideshow:after {
  top: -16px; /*Not sure why I needed this fix*/
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 0;
}
.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}
.slideshow li:nth-child(1) span {
  background-image: url("https://images.unsplash.com/photo-1549247796-5d8f09e9034b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1299&q=80");
}
.slideshow li:nth-child(2) span {
  background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url("https://images.unsplash.com/photo-1478562672393-2412e5b9d634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url("https://images.unsplash.com/photo-1522878129833-838a904a0e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url("https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  animation-delay: 24s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}
